
  <% if @message.errors.any? %>
    <div id="error_explanation">
	<h2><%= pluralize(@message.errors.count, "error") %> prohibited this authentication from being saved:</h2>
	</div>
  <% end %>
  <div>
    <ul>
      <% @message.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
	
  <%= f.label :content, "message:" %>
  <%= f.text_area :content, :class => "text_area" %><br>
  </div>
