<h3 class="heading">
<%= link_to "sent messages(#{@messages_sent.count})", user_sent_messages_path(current_user), :style => "color: #333;" %>
</h3> 
<div class="well">
 <% unless @messages_sent.empty? %>
   <% @messages_sent.each do |msg| %>
     <%= render 'messages/message_stubs', :msg => msg %>
   <% end %>
 <% else %>
   <br><h4 class="center"><i>no sent messages</i></h4><br>
 <% end %>
</div>


<h3 class="heading"><%= link_to "read messages (#{@messages.archived.count})", user_all_messages_path(current_user), :style => 'color: #333;' %></h3>
<div class="well">
  <% unless @messages.archived.empty? %>
    <% @messages.archived.each do |msg| %>
      <%= render 'messages/message_stubs', :msg => msg %>
    <% end %>
  <% else %>
  <br>
  <h4 class="center"><i>no archived messages</i></h4>
  <br>
<% end %>
</div>