 <% unless @messages_sent.empty? %>
  <h3 class="heading">sent messages</h3> 
    <div class="well">
    <% @messages_sent.each do |msg| %>
      <%= render 'messages/message_stubs', :msg => msg %>
    <% end %>
  <% else %>
    <br><h4 class="center"><i>no sent messages</i></h4><br>
  <% end %>
</div>


<h3 class="heading">read messages</h3>
<div class="well">
  <% unless @messages.archived.empty? %>
    <% @messages.archived.each do |msg| %>
      <%= render 'messages/message_stubs', :msg => msg %>
    <% end %>
  <% else %>
  <br>
  <h4 class="center"><i>no archived messages</i></h4>
  <br>
<% end %>
</div>