<div class="center"><h4 class="btn">- sent messages -</div></h4><hr>
  <% unless @messages_sent.empty? %>
    <div class="well">
    <% @messages_sent.each do |msg| %>
      <%= render 'messages/message_stubs', :user => msg.user, :msg => msg %>
    <% end %>
  <% else %>
    <br><h4 class="center"><i>no sent messages</i></h4><br>
  <% end %>
</div>


<div class="well">
  <% unless @messages.archived.empty? %>
    <h4 class="center">- read messages -</h4><hr>
    <% @messages.archived.each do |msg| %>
      <%= render 'messages/message_stubs', :user => msg.sender, :msg => msg %>
    <% end %>
  <% else %>
  <br><h4 class="center"><i>no archived messages</i></h4><br>
<% end %>
</div>