<ul>
  <li>
	<b>
	<%= gravatar_for msg.sender, :thumb, :size => 30 %>
	<%= link_to msg.sender.username, msg.sender %>:</b>
	<%= link_to (msg.sujet ||= "subject"), msg %><br>
	<div class="alt"><%= msg.msg_time %></div>
  </li>
</ul>