<ul>
  <li>
	<b>
	<%= gravatar_for msg.sender, :thumb, :size => 30 %>
	<%= link_to msg.sender.username, msg.sender %>:</b>
    <% if msg.sender != current_user && msg.read == false %><b><% end %>
	<%= link_to (msg.sujet ||= "subject"), msg %></b><br>
	<div class="alt"><%= msg.msg_time %></div>
  </li>
</ul>