<div class="hero-unit round">
  <h1>inbox</h1>
</div>

<div class="row">	
  <div class="span8"> 
    <h3 class="heading">unread messages</h3>
    <div class="well">
    <% if current_user.messages.unread.count == 0 %>

	    <br>
        <h4 class="center"><i>no unread messages</i></h4>
        <br>
    <% else %>

      <% @messages.unread.each do |msg| %>
	    <%= render 'message_stubs', :msg => msg, :user => msg.user %>
	  <% end %>
    <% end %>
  </div>
  </div>

  <div class="span4">
    <%= render 'inbox' %>	
  </div>

</div>
