<div class="hero-unit shadow-down">
  <h1>inbox</h1>
</div>

<div class="row">	
  <div class="span8"> 
    <% if current_user.messages.unread.count == 0 %>
      <div class="well">
	    <br>
        <h4 class="center"><i>no unread messages</i></h4>
        <br>
      </div>
    <% else %>
      <h3 class="center"><div class="btn btn-large">- unread messages - </div></h3><br>
      <% @messages.unread.each do |msg| %>
	    <%= render 'show_message', :msg => msg %>
	  <% end %>
    <% end %>
  </div>

  <div class="span4">
    <%= render 'inbox' %>	
  </div>

</div>
