<div class="hero-unit shadow-down">
  <h1>inbox</h1>
</div

<div class="row">
	<div class="span4">
	<div class="well">
	  <h4>unread messages:</h4><br>

	<% unless @messages_unread.empty? %>
	  <% @messages_unread.each do |msg| %>

	    <%= render 'messages/message_stubs', :user => msg.sender, :msg => msg %>

	  <% end %>
	<% else %>
	  <i>no unread messages</i>
	<% end %>

	</div>
	<div class="well">

	<h4>recent sent messages:</h4><br>

	<% unless @messages_sent.empty? %>
	  <% @messages_sent.each do |msg| %>

	    <%= render 'messages/message_stubs', :user => msg.user, :msg => msg %>

	  <% end %>
	<% else %>
	  <i>no sent messages</i>
	<% end %>

	</div>
	<div class="well">
	 <h4>read messages:</h4><br>

	<% unless @messages_read.empty? %>
	  <% @messages_read.each do |msg| %>

	    <%= render 'messages/message_stubs', :user => msg.sender, :msg => msg %>

	  <% end %>
	<% else %>
	  <i>no archived messages</i>
	<% end %>
	</div>
  </div>

  <div class="span4">
  <table class="tble shadow">
  <tr><th>
  message:</tr>
  <%= @message.user.username %>
  
  
  </table>
  </div>
</div>