<div class="hero-unit shadow-down">
  <h1>inbox</h1>
</div>


<div class="span4">
  <%= render 'inbox' %>	
</div>
  
<div class="span7 well"><br>
  <h4 class="center">you have <%= pluralize(current_user.messages.unread.count, "new message") %>
<br><br>
</div>