<div class="hero-unit round">
  <h1>inbox</h1>
</div>

<div class="row">	
  <div class="span8"> 
  <% if params[:action] == 'index' %>
    <% msgs = @messages.unread %><% title = "unread messages(#{msgs.unread.count})"%>
  <% elsif params[:action] == 'all' %>
    <% msgs = @messages_all %><% title = "received messages" %>
  <% else %>
    <% msgs = @messages_sent_all %><% title = "sent messages" %>    
  <% end %>
    <h3 class="heading"><%= title %></h3>
    <div class="well">
    <% if msgs.count == 0 %>
	    <br>
        <h4 class="center"><i>no messages</i></h4>
        <br>
    <% else %>

      <% msgs.each do |msg| %>
	    <%= render 'message_stubs', :msg => msg %>
	  <% end %>
	  <%= will_paginate msgs, :class => "apple_pagination" %>
	
    <% end %>
    </div>
  </div>

  <div class="span4">
    <%= render 'inbox' %>	
  </div>

</div>
