<div class="hero-unit shadow-down">
  <h1>inbox</h1>
</div>


<div class="row">
	
  <div class="span4">
    <%= render 'inbox' %>	
  </div>
  
  <div class="span8">
	<div class="well">
    <%= render 'show_message', :msg => @message %>
    </div>
   
    <% if 1 == 0 %>
    <div class="well">
	<h4 class="center">- conversation - </h4> 
	<% if !@mutual_messages.empty? %>
	<%= @mutual_messages.each do |msg| %>
	  <%= render 'show_message', :msg => msg %>
	<% end %>
	<% end %>
    </div>
    <% end %>
  </div>
</div>