<div class="hero-unit shadow-down">
  <h1>inbox</h1>
</div>

<div class="row"> 
  <div class="span8">
	<% if @message.sender == current_user %>
	  <h3 class="heading">sent message</h3>
	<% else %>
	  <h3 class="heading">message</h3>
	<% end %>
    <%= render 'show_message', :msg => @message %>
	<% if @message.sender.present? %>
	<% if @mutual_messages.count > 0 %>
      <br><br>	
      <h3 class="heading">other messages between you</h3> 
	  <div class="well">
	  <% @mutual_messages.each do |msg| %>
	    <%= render 'message_stubs', :msg => msg %>
	  <% end %>
	  </div>
	<% end %>
  <% end %>
  </div>

  <div class="span4">
    <%= render 'inbox' %>	
  </div>
</div>