<div class="hero-unit shadow-down">
  <h1>inbox</h1>
</div>


<div class="row">
	
  <div class="span4">
    <%= render 'inbox' %>	
  </div>
  
  <div class="span8">
    <%= render 'show_message', :msg => @message %>

<br>	<h3 class="center">- conversation - </h3> <br>   
	<% if !@mutual_messages.empty? %>
	<% @mutual_messages.each do |msg| %>
	  <%= render 'show_message', :msg => msg %>
	<% end %>
	<% end %>
  </div>
</div>