<div class="hero-unit shadow-down">
  <h1>inbox</h1>
</div>


<div class="row"> 
  <div class="span8">
	<% if @message.sender == current_user %>
	  <h3 class="center"><div class="btn btn-large" style="cursor: default;">- sent message -</div></h3>
	<% else %>
	  <h3 class="center">- incoming message -</h3>
	<% end %>
	<br>
    <%= render 'show_message', :msg => @message %>
	
	<% if @mutual_messages.count > 0 %>
    <br>	
    <h3 class="center"><div class="btn btn-large" style="cursor: default;">- conversation between you - </div></h3><br>   
	<% @mutual_messages.each do |msg| %>
	  <%= render 'show_message', :msg => msg %>
	<% end %>
	<% end %>
  </div>

  <div class="span4">
    <%= render 'inbox' %>	
  </div>
</div>