<div class="hero-unit">
  <%= image_tag @profile.gravatar(:small) %>
  <h2>public profile</h2>
    <p></p>
  <%= form_for @profile, :html => {:multipart => true, :class=> "form-inline"} do |f| %>
    <%= render 'fields', :f => f %>
  <% end %>
</div>
