<div class="hero-unit">
  <%= gravatar_for @profile.user, :small, :size => 100 %>
  <h2>public profile</h2>
    <p></p>
  <%= form_for @profile, :html => {:multipart => true, :class=> "form-inline"} do |f| %>
    <%= render 'fields', :f => f %>
  <% end %>
</div>
