<div class="hero-unit"><h1>edit <%= resource_name.to_s %></h1>
</div>
<%= render 'form' %>

<div class="super-small-container well shadow">
<h3 class="center">cancel my account</h3>
<p class="center"><%= link_to "cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %></p>
</div>
</div>