
<tr><td class="center"><h3>- messages between you (<%= @mutual_messages.count %>) -</h3><br>

<%= link_to "send them a message", new_user_message_path(@user), :class => "btn btn-primary" %></td></tr>
<br><br>
<% if !@mutual_messages.empty? %>
	<% @mutual_messages.each do |msg| %>
	  <%= render 'messages/message', :msg => msg %>
	<% end %>	
<% end %>
