<br>
<g:plusone annotation=""></g:plusone>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<br>

<a href="https://twitter.com/share" 
	class="twitter-share-button" 
	style="text-align:right;"
	data-via="hithrto" 
	data-url=<%= "http://hithr.to" %>
	data-text="A new rideshare website!" >
	Tweet
</a><br>
    <script> !function(d,s,id){
			var js,fjs=d.getElementsByTagName(s)[0];
			if(!d.getElementById(id))
				{js=d.createElement(s);
			js.id=id;js.src="//platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js,fjs);
				}
			}
	     (document,"script","twitter-wjs");
    </script>
<a name="fb_share" 
	type="button" 
	share_url=<%= "http://hithr.to" %> >share
</a> 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>