<div class="hero-unit">
	<h1>about</h1>
</div>
<div class="row">
	<div class="span4">
		<h3>
			How it works
		</h3>
		<p>
			Someone driving somewhere posts a ride. Someone trying to get somewhere responds.
		</p>
	</div>
	<div class="span4">
		<h3>
			Who should use it?
		</h3>
		<p>
			It makes the most sense for college students, but anyone trying to get around the region should use it!
		</p>
	<div class="span4">