<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<br>
    <table>

	<tr>
	<th style="background-color: #ddd; cell-padding:10px;">from:</th>
	<td style="font-size:16px; padding-left: 10px;"><%= @msg.sender_email %>
		
	<tr>
	<th style="background-color: #ddd;">subject: </th>
	<td style="font-size:16px; padding-left: 10px;"><br><u><%= @msg.sujet %>:</h2><br><br></td>
    
    <tr>
	<th style="background-color: #ddd; padding-right: 10px; padding-left: 10px;"> message: </th>
	<td style="font-size:16px; padding-left: 10px;"><br>
      <% @msg.line_breaks.each do |m| %>
        <%= m %><br>
	  <% end %>
	<br>
    </td>
    <tr>
	<td></td>
	<td>
    </table>
    <hr>
    <p>This message is not from a logged in user, so they could be anyone. Use caution!</p>
    <p>Thanks! And enjoy the ride!</p>

    <p>~hithr.to</p>	
  </body>
</html>