<div class="hero-unit">
<h1>forgotten password?</h1>
</div>

<div class="super-small-container shadow round">
	<br>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <div><%= f.input :email, :label => "email:", :required => false %>

  <div class="center"><%= f.submit "reset password", :class => "btn btn-primary" %></div>
<% end %>
<br>
<div class="center">
<%= render "shared/links" %>
</div>
</div>