<div class="hero-unit"><h1>blog<p>making, changing, developing.</p></h1>
</div>
<div class="row">
  <div class="span8 well" style="padding: 30px 10px 30px 10px;">
	<div style="width:90%; margin-left:5%;">
      <%= render @posts if @posts.present? %>
      <%= will_paginate :class => "apple_pagination" unless params[:action] == "show" %>
    </div>
  </div>
  <div class="span4" style="margin-left: 0px;"><div class="well">
    <%= render 'sidebar' %>
  </div>
</div>
