// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin inset-shadow($color, $amount: 15%) {
  -webkit-box-shadow: inset -3px -8px 15px darken($color, $amount);
  -moz-box-shadow: inset -3px -8px 15px darken($color, $amount);
  box-shadow: inset -3px -8px 15px darken($color, $amount);
}

.apple_pagination {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  border: 1px solid #ccc;
  font-size: .7em;
  text-align: center;
  padding: 1em;
  @include rounded(20px);
  @include inset-shadow(#aaa);
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: normal;
    color: #f0f0f0;
    background-color: #003366;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3;
    @include rounded(1em);
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
  .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }