//
// mixins
//

@mixin rounded($TL: 10px, $TR: 10px, $BR: 10px, $BL: 10px) {
  border-radius: $TL $TR $BR $BL;
  -moz-border-radius: $TL $TR $BR $BL;
  -webkit-border-radius: $TL $TR $BR $BL;
}

@mixin inset-shadow($color, $amount: 15%) {
  -webkit-box-shadow: inset -3px -8px 15px darken($color, $amount);
  -moz-box-shadow: inset -3px -8px 15px darken($color, $amount);
  box-shadow: inset -3px -8px 15px darken($color, $amount);
}

@mixin shadow($color: #003366, $amount: 15%) {
  -webkit-box-shadow: 0px 0px 20px darken($color, $amount);
  -moz-box-shadow:  0px 0px 20px darken($color, $amount);
  box-shadow: 0px 0px 20px darken($color, $amount);
}



//
// general
//
body {
  font-size: 18px;
  line-height: 18px;
  background-color: lighten(#003366, 50%);
  -webkit-box-shadow: inset 0px 50px 250px darken(#003366, 20%);
  -moz-box-shadow: inset 0px 50px 250px darken(#003366, 20%);
  box-shadow: inset 0px 50px 250px darken(#003366, 0%);
}




p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: .8em;
  line-height: 1.3em; }
p.home-explain {
  font-size: .9em;
  line-height: 2em;
  text-align: left;
}
div {
  &.field, &.actions {
    margin-bottom: 10px; } }
.alert {
  float: right;
  font-size: .8em;
  padding: 10px 30px;
  text-align: center;
  margin-bottom: 0px;
}
.hero-unit {
  background-color: #fdfdfd;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
  @include rounded(20px, 20px, 20px, 20px);
  @include inset-shadow(#eee, 50%);
  h1 {
    font-size: 4em;
    letter-spacing: .06em; }
}

.hero-unit h1 {
  font-family: 'Happy Monkey', cursive;
  color: #222;
  font-size: 4.5em;
  text-shadow: 0.1em 0.01em .2em #666;
}

a.dropdown-toggle {
  &:hover {
  cursor: pointer; }
}

.happy_monkey {
  font-family: 'Happy Monkey', cursive;
}

.heading {
  border: 0px solid #ccc;
  padding: 3px 0px;
  background-color: #eee;
  width: 100%;
  text-align: center;
  @include rounded(10px);
  @include inset-shadow(#eee, 30%); 
}  
h3 {
  font-size: 1em;}

.well { 
  background-color: #f0f0f0;
  border: 0;
  @include shadow;
  @include inset-shadow(#f0f0f0, 15%);
  @include rounded(20px, 20px, 20px, 20px);
}
.small-container {
  background-color: #fdfdfd;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.super-small-container {
  background-color: #f0f0f0;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  text-align: center;
}

li {
  list-style: none;
}
li.recent_posts {
  list-style: disc;
}
.btn {
  @include inset-shadow(#555);
}
.content {
  border: 1px solid #bbb;
  background-color: white;
  padding: 5px;
  @include inset-shadow(#fff);
}
.alt {
  color: #666;
  font-size: .85em;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
.best_in_place {
  color: #555;
  cursor: pointer;
}

a {
  color: #003366;
  text-decoration: underline;
  &:visited {
    color: #003366; }
  &:hover {
    color: lighten(#003366, 10%); }
}

.btn {
  text-decoration: none;
  &:a {color: #000;}
  &:hover {
  text-decoration: none; }
}
a.btn-primary { &:visited {
  color: white;}
}
.shade {
  box-shadow: 0px 5px 20px #003366;
}


table {
  background-color: white;
}




table.profile td {
  padding: 15px;
}

.profile {
  border: 1px solid #bbb;
  background-color: white;
  @include inset-shadow(#fff);
  .left {
    width: 50%; 
    float:left; 
    text-align: right; 
    padding-right: 3px; }
  .right {
    float: left; }
}


table.rides tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th {
  background-color: #e0e0e0;
}
table.rides tbody tr:nth-child(odd):hover td, table tbody tr:nth-child(odd):hover th {
  background-color: #d0d0d0;
}
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f2f2f2;
}





table.messages {
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
table.shadow {
  @include inset-shadow(#eee, 15%);
}



table.rides {
  //@include rounded;
  @include inset-shadow(#ccc);
  font-size: .9em;
}

table.tble {
  width:100%;
  border: black 10px;
  background-color: #f5f5f5	;
  # box-shadow: 0px 0px 10px #f5f5f5;
  line-height: 24px;
  @include rounded(10px);
}
table.tble td {
  padding: 15px;
}
.msg {
  @include inset-shadow(#ccc);
  @include rounded();
  border-top: 1px solid #999;
}
td.msg {
  padding: 20px 40px;
}
table.msg th {
  background-color: #ddd;
  text-align: right; 
  padding: 0 5px 0 10px; 
}
table.msg th.top {
  @include rounded(10px 10px 0px 0px);
  
}
table.msg th.bottom {
  @include rounded(0px 0px 10px 10px);
}
th {
  font-size: .9em;
}

td.avatar {
  width: 30px;
}
#about_content {
  width: 300px;
  height: 150px;
}
.bio {
  padding: 5px; 
  color: white; 
  font-size: 1.15em;
  width: 50%; 
  float:left; 
  text-align:right;
  background-color: #003366;
}
.about {
  padding: 20px 10px 20px 100px; 
  clear: both; 
  font-size: 1.1em;
}


//
// Forms
//

.simple_form label, form label {
  float: left;
  width: 15%;
  text-align: right;
  margin: 2px 10px;
  font-size: .85em;
  font-weight: bold;
}
.sign_in label {
  width: 150px;
}
.new_detail label {
  font-size:.9em;
}

//.simple_form input {
 // text-align: left;
//}
span.label {
  padding: 3px 20px;
}
input,
textarea,
.uneditable-input {
  width: 150px;
}
.simple_form select {
  width: auto;
}
select {
  width: auto;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #000;
}
.simple_form input[type="submit"] {
  margin-left: 0px;
}

select {
  vertical-align: top;
  font-size: .9em;
}

textarea {
  width: 90%;
  height: 100px;
  font-size: 1em; 
}
textarea#message {
  width: 17em;
}
input[type="text"] {
  width: 90%;
}
.new_ride input[type="text"] {
  width: auto;
}

#message_content {
  height: 200px;
  width: 50%;
}

form.new_ride {
  background-color: transparent;
  .left {
  float:left; }
  .right {
  float: right;}
}
div.date {
  width: auto;
}
.about .best_in_place textarea {
  font-size: 110%;
  width: 90%;
}




//
// References
//


td.gray {
  background: #aaa;
}

.ref {
  border: 1px solid #bbb;
  padding: 4px 10px;
  border: 1px solid #999; }
  .pos {
  background-color: #dff0d8; } //#dff0d8
  .neut {
  background-color: yellow; }
  .neg {
  background-color: red; }








tr.gray {
  background-color: #eee;
}


.user-profile {
  padding-left: 0px;
  padding-right: 0px;
  margin-right:0px;
}


.no-padding {
  padding: 0px;
  margin: -4px 0px -10px 0px;
}

.masthead {
  padding-top: 36px;
  margin-bottom: 0px;
}

.tble-wide {
  width: 100%;
}


.cred {
  font-size: 120%; 
  height: auto; 
  //width:;
  padding: 30px 20px;
  margin: -10px 0px 0px 0;
  text-align: center; 
  background-color:#003366; 
  color: white;
  @include inset-shadow(#003366, 15%);
}
.auth_provider {
  text-decoration: none;
  &:hover {
  text-decoration: none; }
}


ul.dropdown-menu li a {
  text-decoration: none;
}

.shadow {
  @include inset-shadow(#003366, 15%);
}
.round {
  @include rounded(20px, 20px, 20px, 20px);
}
.ctr {
  margin-left:auto;
  margin-right:auto;
}
.best_in_place input {
  font-size: 100%;
  height: auto;
}
.cost .best_in_place input {
  width: 30px;
}
.ride-detail {
  clear:left; 
  float:left; 
  width:11em; 
  text-align:right;
  padding: 10px 5px 20px 5px;
  background-color: #ccc;
}
.round-top {
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0; 
}
.round-bottom {
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}
.best_in_place {
  text-decoration: underline;  
}
.cost .best_in_place select {
  font-size: .75em;
}
.about 
  {.best_in_place {
  text-decoration: none;
}}
.about-section
  {.best_in_place {
  text-decoration: none;
  line-height: 170%;
  padding:0px;
}}

.dropdown a {
  color: #111;
  &:visited {
  color: #111; }}

.current_user, .not_current_user {
  display:none;
}


#ride_offered {
  width: 150px;
  font-size: 110%;
}
.top {
  @include rounded(10px, 10px, 0px, 0px); 
}
.round_bottom {
  @include rounded(0px, 0px, 10px, 10px); 
}
#last-row {
  background-color: transparent;
  color: transparent;
  //@include rounded();
  &:hover {
  display:none; }
}
#pagination {
  background-color: transparent;
  
}
.search_end_small {
 display: none;
 width: 80px; }

@media (min-width: 767px) {
  .new_ride .well {
  padding-left: 20%;
  width: 76%; }  
}

.ride_container {
  margin: 0px 10%;
}

.ride_show_small {
  display: none; }

@media (max-width: 767px) {
  body {
  font-size: 14px; }
  .super-small-container {
  width: 89%; }
  .small-container {
  width: 100%;
  td.date {
  width: 100px; }
  td.ride_hide_small {
  display: none; }
  tr.ride_show_small {
  display: table-row; }
  .new_ride input[type="text"] {
  width: 150px; }
}

@media (max-width: 480px) {
  body {
  font-size: 12px; }
  .span6 {
  width: 320px; }
  td.date {
  width: 100px; }
  .hero-unit {
  padding-left: 10%; }
  .container {
  padding: 0px; }
  .ride_hide_small {
  display: none; }
  tr.ride_show_small {
  display: table-row; }
  .new_ride input[type="text"] {
  width: 150px;
}
}


textarea#message {
  width: 40%; }
  
}
@media (max-width: 980px) {
  .navbar-fixed-top {
  margin-bottom: 0px; }
  .ride_container {
  margin: 0px 0px; }
}


.navbar .brand {
  padding-top: 10px;
}

.users_index th .current {
  padding-right: 14px;
  background-repeat: no-repeat;
  background-position: right;
}

.current {
  padding-right: 14px;
  background-repeat: no-repeat;
  background-position: right;  
}

th .asc {
  background-size: 12px 12px;
  background-image: url(/down_arrow.png);
}

th .desc {
  background-size: 12px 12px;
  background-image: url(/up_arrow.png);
}

.woohoo {
  // visibility: hidden;
  // display: none;
  color: white;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: lighten(#0E2C4B, 20%);
  border: 2px solid #0E2C4B;
}

.loading {
  opacity:0.8;
}

.home_search_loading {
  background-color: #666;
}

form.search {
  font-size: 1em;
  input {
    font-size: 1.7em;
    height: auto;
    width: 180px; }
  input[type="submit"] {
    height: auto;
    padding: 10px 20px 20px 22px; 
    @include rounded; }
  ::-webkit-input-placeholder  {  
    padding-top: 10px; }
  input:-moz-placeholder { 
    padding-top: 10px; }
}
