.msg {
//  font-size: 105%;
  border-color: black;
  border: 1px;
  padding: 20px 40px;
  margin: 20px 0px 20px;
  border: 1px black;
  -webkit-box-shadow: 0 0 3px #000;
  -moz-box-shadow: 0 0 3px #000;
  box-shadow: 0px 0px 3px #000;
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px;
}
table.msg th {
  background-color: #ddd;
  text-align: right; 
  padding-right: 5px; 
}
table.msg th.top {
  -moz-border-radius: 10px 0px 0px 0px;
  -webkit-border-radius: 10px 0px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
table.msg th.bottom {
  -moz-border-radius: 0px 0px;
  -webkit-border-radius: 10px 10px;
  border-radius: 0px 0px 10px 10px;
}


.apple_pagination {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  border: 1px solid #ccc;
  font-size: 110%;
  text-align: center;
  padding: 1em;
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: normal;
    color: #f0f0f0;
    background-color: #003366;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
  .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

td.avatar {
  width: 30px;
}
.simple_form label {
  float: left;
  width: 150px;
  text-align: right;
  margin: 2px 10px;
  font-size: 110%;
  font-weight: bold;
}
.simple_form input[type="submit"] {
  margin-left: 0px;
}


.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #ddd;
}
.small-container {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.super-small-container {
  width: 505px;
  margin-left: auto;
  margin-right: auto;
}

.alt {
  color: #666;
  font-size: 100%;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
.label-positive {
  background: #52CC7A;
}
.label-neutral {
  background: #cc9900;
}
.label-negative {
  background: #990000;
}
td.gray {
  background: #aaa;
}
td.date {
  width: 150px;
}

span.label {
  padding: 3px 20px;
}
tr.gray {
  background-color: #eee;
}

select.auto {
  width: auto;
  # font-size: 12px;
  margin: 0px;
}
.user-profile {
  padding-left: 0px;
  padding-right: 0px;
  margin-right:0px;
}
div.center_block {
  margin-left:auto;
  margin-right:auto;
}
.center {
  margin-left:auto;
  margin-right:auto;
}
.hero-unit {
  background-color: #eee;
  height: 100%;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}
table.messages {
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
table.shadow {
  box-shadow: 3px -3px 20px #bbb;
}
table.shadow-down {
  box-shadow: 3px 3px 20px #bbb;
}
.center {
  text-align: center;
}
table.tble {
  width:100%;
  border: black 10px;
  background-color: #f5f5f5	;
  # box-shadow: 0px 0px 10px #f5f5f5;
  line-height: 24px;
  border-radius: 10px;
}
table.tble td {
  padding: 15px;
}

td.bio {
  padding: 5% 15%;
  background-color: #ddd;
  border-radius: 10px;
  line-height: 24px;
  font-size:16px;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
}

table.profile td {
  padding: 15px;
}

.cred {
  background-color: #43BFC7;
  padding: 0px;
  margin: 0px;
  text-align: center;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #43BFC7;
  

}
.no-padding {
  padding: 0px;
  margin: -4px 0px -10px 0px;
}

.masthead {
  padding-top: 36px;
  margin-bottom: 0px;
}
.jumbotron h1 {
  margin-bottom: 0px;
  font-size: 81px; 
  letter-spacing: -9px;
  line-height: 1;
}
.hero-unit h1 {
  letter-spacing: -5px;
}
.jumbotron p {
margin-bottom: 0px;
font-size: 20px;
font-weight: 300;
}
.tble-wide {
  width: 100%;
}
.masthead h1 {
margin-bottom: 18px;
}
.masthead h1, .masthead p {
text-align: center;

}

.jumbotron {
position: relative;
}
a.btn-primary { &:visited {
  color: white;}
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

textarea {
  height: 100px;
}
input[type="text"] {
  widht: 30px;
}
#message_content {
  height: 100px;
  width: 360px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #111;
  &:visited {
    color: #111; }
  &:hover {
    color: #666; }
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }