td.bio {
  padding: 5% 15%;
  background-color: #ddd;
  border-radius: 10px;
  line-height: 24px;
  font-size:16px;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
}

table.profile td {
  padding: 15px;
}
@mixin inset-shadow($color, $amount: 15%) {
  -webkit-box-shadow: inset -3px -8px 15px darken($color, $amount);
  -moz-box-shadow: inset -3px -8px 15px darken($color, $amount);
  box-shadow: inset -3px -8px 15px darken($color, $amount);
}
.profile {
  border: 1px solid #bbb;
  background-color: white;
  @include inset-shadow(#fff);
  .left {
    width: 50%; 
    float:left; 
    text-align: right; 
    padding-right: 3px; }
  .right {
    float: left;
}
}