<% provide(:title, "ride options") %>
<div class="hero-unit"><h1>ride options</h1></div>

<% @ride = Ride.find(params[:ride_id]) %>

<div class="small-container well shadow">
	<div class="form-horizontal">
<%= simple_form_for [@ride, @detail] do |f| %>
   <%= render '/details/fields', :f => f %>
   <div class="center"><%= f.submit "finish", :class => "btn btn-primary" %></div>
<% end %>
