<div class="center">
<h3>- recent rides -</h3>
<% if params[:controller] == "pages" %>
  <%= render 'shared/city_search' %>
<% else %>  
  <%= render 'shared/ride_search' %>
<% end %>
</div>
<table class="table table-condensed round shadow-down">
	<thead>
	<tr class="round"><th colspan="2">
		</th><th class="date">
		On:
		</th><th colspan="2">
		From:
    	</th><th>
	    To:
 		</th><th>
	</tr>
	</thead>
	
	</tr>
	<% unless @rides.blank? %>
	
      <%= render @rides %>

	  <tr><td colspan="7">
		
	
    <% else %>
	  <tr><td colspan="7"><h3 align="center">no rides matched your search</h3>	
	<% end %>
</table>
<%= will_paginate @rides, :class => "apple_pagination" %>
