<table class="table table-condensed round shadow-down">
	<thead>
	<tr class="round"><th colspan="2">
		</th><th class="date">
		On:
		</th><th colspan="2">
		From:
    	</th><th>
	    To:
 		</th><th>
	</tr>
	</thead>
	<% if params[:controller] == "pages" %>
	  <tr class="gray"><%= render 'shared/city_search' %>
	<% else %>  
      <tr class="gray"><%= render 'shared/ride_search' %>
  	<% end %>
	</tr>
	<% unless @rides.blank? %>
	
      <%= render @rides %>

	  <tr><td colspan="7">
		
	
    <% else %>
	  <tr><td colspan="7"><h3 align="center">no rides matched your search</h3>	
	<% end %>
</table>
<%= will_paginate @rides, :class => "apple_pagination" %>
