<table class="table table-condensed rides round_bottom shadow">
<% unless @rides.blank? %>
  <%= render @rides %>
<% else %>
  <tr><td colspan="7"><h3 align="center">no rides matched your search</h3></tr>	
<% end %>
	
<tr><td id="pagination" colspan=7>
<%= will_paginate @rides, :class => "apple_pagination" unless controller_name == "pages" %>
</tr>

</table>