<% unless params[:controller].parameterize == "rides" %>
<div class="center">
<h3 class="heading">recent rides</h3>
</div>
<% end %>
<table class="table table-condensed rides round shadow">
	<thead>
	<tr class="round"><th colspan="2">
		</th><th class="date">
		On:
		</th><th colspan="2">
		From:
    	</th><th>
	    To:
 		</th>
    </tr>
	</thead>
	<tr>
	<% if params[:controller] == "pages" %>
	  <td colspan=3></td><td colspan=4><%= render 'shared/city_search' %>
	<% else %>  
	  <%= render 'shared/ride_search' %>
	<% end %>
	</tr>
	<% unless @rides.blank? %>
	
      <%= render @rides %>

	  <tr><td colspan="7">
		
	
    <% else %>
	  <tr><td colspan="7"><h3 align="center">no rides matched your search</h3>	
	<% end %>
</table>
<%= will_paginate @rides, :class => "apple_pagination" unless controller_name == "pages" %>
