<% provide :title, "rides" %>

  <div class="hero-unit">
    <h1>rides</h1><p>offered</p>
  </div>

  <div class="shade round ride_container">
	<%= render 'shared/ride_search' %>

  <div id="rides_table">
	  	
    <%= render 'rides_table' %>
  </table>
  </div>
</div>