<% provide :title, "rides" %>

  <div class="hero-unit">
    <h1>rides</h1><p>offered</p>
  </div>
<div class="rides_container">
  <div id="rides_table">
    <%= render 'rides_table' %>
  </div>
</div>