<% provide(:title, "post ride") %>
<div class="hero-unit">
  <h1>w.hithr.to?</h1>
</div>
<div class="small-container">
  <div class="new_ride">
    <div class="round"><br>
      <%= form_for @ride do |f| %>
        <%= render 'form', :f => f %>
      <% end %>
    </div>
  </div>
</div>