<% provide(:title, "post ride") %>
<div class="hero-unit">
  <div style="float: right;"><%= gravatar_for(current_user, :small, :size => 100) %></div>
  <h1>whithr.to
	  <p>from where to where and when?
  </h1>
</div>
<div class="small-container">
  <div class="small-container">
    <div class="">
      <%= form_for @ride do |f| %>
        <%= render 'form', :f => f %>
      <% end %>
    </div>
  </div>
</div>