<% provide(:title, "post ride") %>
<div class="hero-unit">
  <h1>post ride</h1>
</div>

<div class="well">
<%= form_for @ride do |f| %>
  <div class="small-container">
  <%= render 'form', :f => f %>
    <%= f.submit "continue", :class => "btn" %>
</div>

<% end %>
