<!-- <% provide :title, "rides" %>

  <div class="hero-unit">
    <h1>my rides</h1><br>
  </div>
<div class="small-container">
  <%= render 'shared/ride_search' %>
  <div id="rides_table">
    <%= render 'rides_table' %>
  </div>
</div> -->