<a href="users/auth/facebook" class="auth_provider">
<%= image_tag "facebook_64.png", :size => "64x64", :alt => "facebook" %>
</a>
<a href="users/auth/twitter" class="auth_provider">
<%= image_tag "twitter_64.png", :size => "64x64", :alt => "twitter" %>
</a>
<a href="users/auth/google_oauth2" class="auth_provider">
<%= image_tag "google_oauth2_64.png", :size => "64x64", :alt => "google" %>
</a>
<!-- <a href="users/auth/yahoo" class="auth_provider"> -->
<% image_tag "yahoo_64.png", :size => "64x64", :alt => "yahoo" %>
<!-- </a> -->
