<% unless show_auths[:show_any] == false %>
  <br><br><br>
  <h3 class="center">connect with: <br>
	<a href="/users/auth/facebook" class="auth_provider popup", data-width="600", data-height="400">
	  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "facebook" unless show_auths[:fb] == false %>
	</a>
	<a href="/users/auth/twitter" class="auth_provider popup", data-width="600", data-height="400">
	  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "twitter" unless show_auths[:twit] == false %>
	</a>
	<a href="/users/auth/google_oauth2" class="auth_provider popup", data-width="600", data-height="400">
	  <%= image_tag "google_oauth2_64.png", :size => "64x64", :alt => "google" unless show_auths[:goo] == false %>
	</a>
  </h3>
<% end %>