<% show = show_fb = show_tw = show_goo = false %>
<% if !current_user %>
  <% show = true %>
<% else %>
  <% show_fb = true if current_user.authentications.where(:provider => "facebook").empty? %>
  <% show_tw = true if current_user.authentications.where(:provider => "twitter").empty? %>
  <% show_goo = true if current_user.authentications.where(:provider => "google_oauth2").empty? %>
<% end %>

<h3 class="center">connect with: <br>
<a href="users/auth/facebook" class="auth_provider">
<%= image_tag "facebook_64.png", :size => "64x64", 
		:alt => "facebook" if show || show_fb == true %>
</a>
<a href="users/auth/twitter" class="auth_provider">
<%= image_tag "twitter_64.png", :size => "64x64", :alt => "twitter" if show || show_tw == true %>
</a>
<a href="users/auth/google_oauth2" class="auth_provider">
<%= image_tag "google_oauth2_64.png", :size => "64x64", :alt => "google" if show || show_goo == true %>
</a>
</h3>


<!-- <a href="users/auth/yahoo" class="auth_provider"> -->
<% image_tag "yahoo_64.png", :size => "64x64", :alt => "yahoo" %>
<!-- </a> -->
